* {
    box-sizing: border-box
}

/* ------------------------------------------------------------------- */
/* klasy globalne */
/* ------------------------------------------------------------------- */
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.button {
    background: #24BAA0;
    color:#fff;
    text-transform: uppercase;
    border-radius: 6px;
    border:0;
    line-height: 1;
    padding:10px 25px;
    text-decoration: none;
}

.section-title {
    width:320px;
    border-bottom: 5px solid #24BAA0;
    font-size:22px;
    font-weight: 600;
    color:#575757;
    text-transform: uppercase;
    margin-bottom:45px;
    padding-bottom:10px;
}

.row {
    margin-left:-15px;
    margin-right:-15px;
}
.row .col-1-3 {
    float:left;
    width: 33.3333%;
    padding: 0 15px;
}

/* ---------------------------------------- */
/* layout
/* ---------------------------------------- */
body {
    font-family: 'Raleway', sans-serif;
}


/* ---------------------------------------- */
/* main header
/* ---------------------------------------- */
.page-header {
    height:42px;
    background: #000;
    position: relative;
    z-index: 2;
}
.page-logo {
    float:left;
    font-size:14px;
    text-transform: uppercase;
    color:#fff;
}
.page-logo a {
    color:#fff;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
}
.page-logo span {
    font-weight: 700;
    color: #24BAA0;
}

/* ---------------------------------------- */
/* nav
/* ---------------------------------------- */
.page-nav {
    float:right;
}
.page-nav ul {}
.page-nav li {
    display: inline-block;
    position: relative;
}
.page-nav a {
    color:#fff;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding:0 25px;
    font-size:14px;
    line-height: 42px;
}
.page-nav-submenu {
    background: #000;
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform:translate(-50%, 0);
    opacity:0;
    visibility: hidden;
    transition:0.5s all;
}
.page-nav li:hover .page-nav-submenu {
    opacity:1;
    visibility: visible;
}
.page-nav-submenu:before {
    content:'';
    width:15px;
    height:15px;
    background: #000;
    position: absolute;
    left:50%;
    top:0;
    transform:translate(-50%, -50%) rotate(45deg);
}
.page-nav-submenu:after {
    content:'';
    width:100%;
    height:20px;
    position: absolute;
    left:0;
    top:-20px;
    background: transparent;
}
.page-nav-submenu a {
    text-transform: none;
    font-weight: normal;
    line-height: 2.7em;
}


/* ---------------------------------------- */
/* main slider
/* ---------------------------------------- */
.main-slider-bg {
    position: relative;
    background: linear-gradient(#fafafa, #d3d3d3);
}
.main-slider {
    height: 500px;
    position: relative;
}
.main-slider-prev,
.main-slider-next {
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:70px;
    border:0;
    background: none;
    font-size: 70px;
    color: #24BAA0;
}
.main-slider-next {
    left:auto;
    right:0;
}

.main-slider-slides-cnt {
    position: relative;
    height:100%;
    margin:0 70px;
}
.main-slider-slide {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    font-size:100px;
    opacity:0;
    transition:0.5s all;
}

/* animacje slajdow */
.main-slider-slide-title {
    position: relative;
    left:-30px;
    transition:0.5s all;
}
.main-slider-slide.active {
    opacity:1;
}
.main-slider-slide.active .main-slider-slide-title {
    left:0;
}


/* ---------------------------------------- */
/* main-products
/* ---------------------------------------- */
.main-products {
    padding:35px 0;
}
.product-box {
    position: relative;
    display: inline-block;
}
.product-box-bar {
    background: rgba(255,255,255,0.6);
    padding:15px;
    position: absolute;
    bottom:10px;
    left:0;
    width:100%;
}
.product-box-img {
    display: block;
}
.product-box-title {
    width:145px;
    border-bottom: 5px solid #24BAA0;
    font-size:16px;
    font-weight: 600;
    color:#575757;
    line-height:1;
    padding-bottom:2px;
}
.product-box-text {
    border:1px solid #ddd;
    padding:20px;
    background: #fff;
    height:250px;
}
.product-box-description {
    margin-top:15px;
    font-size:14px;
}

/* ---------------------------------------- */
/* main price list
/* ---------------------------------------- */
.main-price-list {
    background: #F1F1F1;
    padding:35px 0;
}


/* ---------------------------------------- */
/* price box
/* ---------------------------------------- */
.price-box {
    border:2px solid #c2c2c2;
    background: #fff;
    text-align: center;
    height:500px;
    position: relative;
    padding-bottom:40px;
    color: #C2C2C2;
}
.price-box-title {
    margin-top:30px;
    font-size:26px;
    text-transform: uppercase;
    color: #27C7AB;
}
.price-box-price {
    width:130px;
    height: 130px;
    border-radius: 50%;
    border:2px solid #C2C2C2;
    background: #fff;
    margin: 35px auto;
}
.price-box-price .price {
    font-size:45px;
    font-weight: bold;
    margin-top:20px;
}
.price-box-price .price sup {
    font-size:16px;
    position: relative;
    top:-17px;
}
.price-box-price .date {}
.price-box-list {
    background-color: #F1F1F1;
}
.price-box-list li {
    font-size:24px;
    padding:10px 0;
}
.price-box-list li:nth-of-type(odd) {
    background:#E4E4E4;
}
.price-box .button {
    position: absolute;
    left:50%;
    bottom:10px;
    transform:translateX(-50%);
}
.price-box-highlighted .price-box-title {
    color:#fff;
}
.price-box-highlighted {
    background: #27C7AB;
    border-color: #27C7AB;
}
.price-box-highlighted .price-box-price {
    color: #27C7AB;
    border-color: #27C7AB;
}
.price-box-highlighted .button {
    background: #fff;
    color: #27C7AB;
}
.price-box-highlighted .price-box-list {
    background-color: #F1F1F1;
}
.price-box-highlighted  .price-box-list li:nth-of-type(odd) {
    background:#fff;
}

/* ---------------------------------------- */
/* main contact
/* ---------------------------------------- */
.main-contact {
    padding:35px 0;
}
.contact-form {}
.contact-form ::-webkit-input-placeholder {
    color: #cacaca;
}
.contact-form ::-moz-placeholder {
    color: #cacaca;
}
.contact-form :-ms-input-placeholder {
    color: #cacaca;
}
.contact-form :-moz-placeholder {
    color: #cacaca;
}
.contact-form-left {
    width:632px;
    float:left;
}
.contact-form-right {
    width:345px;
    float:right;
}
.contact-form-row {
    margin-bottom:25px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    height:65px;
    border:1px solid #24BAA0;
    font-size:30px;
    width:100%;
    padding:0 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #444;
}
.contact-form textarea {
    padding:15px;
    height:217px;
    resize: none;
}
.contact-form-img {
    background: url(../images/red_chair.png);
    background-repeat: no-repeat;
    background-position: center center;
    height:210px;
}
.contact-form .button {
    padding:20px 0;
    font-size: 34px;
    font-weight: bold;
    width:100%;
}
.checkbox-cnt {
    display: block;
    position: relative;
    padding-left:60px;
    color: #cacaca;
    margin:35px 0;
    padding-top:5px;
    font-size:17px;
}
.checkbox-cnt input {
    position: absolute;
    left:-9999px;
}
.checkbox-icon {
    position: absolute;
    left:0;
    top:0;
    width:50px;
    height:50px;
    border:1px solid #24BAA0;
    display: inline-block;
}
.checkbox-cnt input + .checkbox-icon:before {
    content:'';
    background:url(../images/form_ok.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    position:absolute;
    left:50%;
    top:50%;
    width:50px;
    height:50px;
    transform:translate(-50%, -50%) scale(0.5);
    transition:0.5s all;
    opacity:0;
}
.checkbox-cnt input:checked + .checkbox-icon:before {
    opacity:1;
    transform:translate(-50%, -50%) scale(1);
}

/* ---------------------------------------- */
/* social
/* ---------------------------------------- */
.social {}
.social li {
    display: inline-block;
}
.social a {
    display: inline-block;
    width:35px;
    height:35px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow:hidden;
}
.social-fr {
    background-image: url(../images/flickr.png);
}
.social-vimeo {
    background-image: url(../images/vimeo.png);
}
.social-pinterest {
    background-image: url(../images/pinterest.png);
}
.social-twitter {
    background-image: url(../images/twitter.png);
}

/* ---------------------------------------- */
/* page footer
/* ---------------------------------------- */
.page-footer {}
.page-footer .copyright {
    float:left;
    color:#9b9b9b;
    font-size:16px;
    line-height: 30px;
}
.page-footer {}
.footer-right {
    float:right;
}

.page-footer .social {
    display: inline-block;
}
.footer-logo {
    display: inline-block;
    font-size:20px;
    text-transform: uppercase;
    color:#9b9b9b;
    line-height: 30px;
    vertical-align: top;
    margin-left:30px;
}
.footer-logo a {
    color:#9b9b9b;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
}
.footer-logo span {
    font-weight: 700;
    color: #9b9b9b;
}